.indexHeader{
    border-style: hidden;
    border-width: 100%;
}

.hackerRow{
    display: -webkit-flex;
    display: flex;
}

.hackerDiv{
    -webkit-flex: 1;
    -ms-flex: 1;
    border-style: hidden;
    border-width: 100%;
    text-align: left;
}

.hackerInfo{
    -webkit-flex: 1;
    -ms-flex: 1;
    border-style: hidden;
    border-width: 50%;
}